<% @page_title = "Show Section Type: #{@section_type.name_tag}" %>

<%= link_to 'Edit', edit_section_type_path(:id => @section_type.id) %> |
<%= link_to 'Back to List', section_types_path, :class => 'back-link' %>

<div class="section_types show">
  <h2>Show Section Type</h2>

  <table summary="Section Type detail view" class="listing show-tbl">
    <tr>
      <th>Name tag</th>
      <td><%= @section_type.name_tag %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @section_type.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @section_type.updated_at %></td>
    </tr>
  </table>
  
</div>
