<% @page_title = "Admin Menu" %>

<div class="menu-admin">
  <h2>Admin Menu</h2>
  <div class="identity">Logged in as:</div>
  <ul>
    <li><%= link_to("Manage Page Types", :controller => 'page_types') %></li>
    <li><%= link_to("Manage Section Types", :controller => 'section_types') %></li>
    <li><%= link_to("Manage Users", :controller => 'users') %></li>
	<li><%= link_to("Manage Buckets (images)", :controller => 'buckets') %></li>
    <li><%= link_to("Logout", :action => 'logout') %></li>
  </ul> 
</div>