<%= form_for(@bucket, html: { multipart: true }) do |f| %>
  <% if @bucket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bucket.errors.count, "error") %> prohibited this bucket from being saved:</h2>

      <ul>
      <% @bucket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= f.label :name %><br>
    <%= f.text_field :name %></p>

	<p><%= f.label :attachment %><br>
	<%= f.file_field :attachment %></p>	
  </div>

  <div class="form-buttons">
    <%= f.submit %>
  </div>

<% end %>
