<%= form_for(@bucket, html: { multipart: true }) do |f| %>
  <% if @bucket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bucket.errors.count, "error") %> prohibited this bucket from being saved:</h2>

      <ul>
      <% @bucket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

	<%= f.label :attachment %><br>
	<%= f.file_field :attachment %>
	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
