<section role="main" id="content">
	<div class="main-content-style">

<h1><%= t('contacttext.title') %></h1>

<div class="contact-form-wrapper">
	
<p><%= t('contacttext.paragraph') %></p>

<!-- This custom helper is defined in app/helpers/application_helper.rb -->
<%= error_messages_for(@contact) %>

<div class="contact-form-block">
	<%= form_for(:contact, :url => {:action => 'create'}) do |f| %>
	
		<div class="float-left column-1">
			
			<p><%= f.label(:name, t('contactform.labels.name')) %><br />
		    <%= f.text_field(:name) %></p>
		
			<p><%= f.label(:email, t('contactform.labels.email')) %><br />
		    <%= f.text_field(:email) %></p>
			
		</div><!-- /float-left -->
		
		<div class="float-left">
			<p><%= f.label(:message, t('contactform.labels.message')) %><br />
		    <%= f.text_area(:message_body, rows: 7) %></p>
			
			<!-- <p class="antispam">
				Leave this empty: <input type="text" value="" name="blank_txt">
			</p> -->

			<%= f.submit t('contactform.submit.send') %>
		</div><!-- /float-left -->
  
	<% end %>
</div><!-- /contact-form-block -->

</div><!-- /contact-form-wrapper -->

</div><!-- /main-content-style -->	
</section>