<% @page_title = @page.title %>

<section role="main" id="content">
	<div class="main-content-style">
		
		<h1><%= raw(@page.name) %></h1>

		<% @sections.each do |section| %>
			<% if (section.name_tag != 'tag-line') and (section.name_tag != 'copyright') and (section.name_tag != 'about-us') %>
  		
    			<% case SectionType.section_type_name_tag(section.section_type_id).first.name_tag %>
    				<% when 'html' %>
      					<%= raw(sanitize(section.content, :tags => ['h1', 'h2', 'h3', 'p', 'span', 'strong', 'em', 'a', 'img', 'abbr', 'b', 'div', 'section'])) %>
    				<% when 'text' %>
      					<p><%= strip_tags(section.content) %></p>
					<% when 'link' %>
						<p><%= link_to(section.content,section.content,{ :title => ""}) %></p>
							
					<% when 'project-gallery' %>
										
						<% if (@page.name_tag == 'portfolio') %>
							<ul class="thumbnail clearfix">
								<% Page.page_by_page_type_id(PageType.project.first.id).each do |page| %>
									<li class="project-<%= page.name_tag %>">
										<a href="show/<%= page.permalink %>/?locale=<%= I18n.locale %>" title="<%= page.project_review_title %>"  class="project-preview">
											<%= image_tag(page.project_review_img, :size => '312x173') %>
											<span class="preview-project-heading"><%= page.project_review_title %></span>
											<span class="preview-project-short-description"><%= raw(sanitize(page.project_review_short_description, :tags => ['&eacute;'])) %></span>
										</a>
									</li>
								<% end %>
							</ul>
						<% end %><!-- /page is portfolio -->
					
    			<% end %><!-- end case of section type -->
  		
			<% end %><!-- end if of not section of tag-line, etc. -->
		<% end %><!-- end case of sections--> 
		

		</div><!-- /main-content-style -->	
	</section>
