<% @page_title = @page.name %>

<section role="main" id="content">
	<div class="main-content-style">
		
		<h1><%= @page.name %></h1>

		<% if (@page.name_tag == 'service') %>
			<div class="service">
		<% end %><!-- /end of if page is service -->

		<% @sections.each do |section| %>
			<% if (section.name_tag != 'tag-line') and (section.name_tag != 'copyright') and (section.name_tag != 'about-us') %>
  		
    			<% case SectionType.section_type_name_tag(section.section_type_id).first.name_tag %>
    				<% when 'html' %>
      					<%= raw(sanitize(section.content, :tags => ['h1', 'h2', 'h3', 'p', 'span', 'strong', 'em', 'a', 'img', 'abbr', 'b', 'div', 'section'])) %>
    				<% when 'text' %>
      					<p><%= section.content %></p>
					<% when 'link' %>
						<p><%= link_to(section.content,section.content,{ :title => ""}) %></p>
							
					<% when 'project-gallery' %>
					
						<% if (@page.name_tag != 'portfolio') %>
								</div><!-- /main-content-style -->	
							</section>
							<aside class="more-project" role="complementary">
								<div class="more-project-style">
									<h1>More from my portfolio</h1>
									<ul class="thumbnail clearfix">
									<% counter = 1 %>
									<% Page.page_by_page_type_id(PageType.project.first.id).each do |page| %>
										<% if (@page.id != page.id) %>
											<% if (counter <= 3) %>
											<li>
												<a href="<%= page.permalink %>" title="<%= page.project_review_title %>"  class="project-preview">
													<%= image_tag(page.project_review_img, :size => '312x173') %>
													<span class="preview-project-heading"><%= page.project_review_title %></span>
													<span class="preview-project-short-description"><%= page.project_review_short_description %></span>
												</a>
											</li>
											<% end %>
											<% counter = counter + 1 %>
										<% end %>
									<% end %>
									</ul>
								</div><!-- /more-project-style -->
							</aside>	
						<% end %><!-- /end of if page is not portfolio -->
						
						<% if (@page.name_tag == 'portfolio') %>
							<ul class="thumbnail clearfix">
								<% Page.page_by_page_type_id(PageType.project.first.id).each do |page| %>
									<li>
										<a href="<%= page.permalink %>" title="<%= page.project_review_title %>"  class="project-preview">
											<%= image_tag(page.project_review_img, :size => '312x173') %>
											<span class="preview-project-heading"><%= page.project_review_title %></span>
											<span class="preview-project-short-description"><%= page.project_review_short_description %></span>
										</a>
									</li>
								<% end %>
							</ul>
						<% end %><!-- /page is portfolio -->
					
    			<% end %><!-- end case of section type -->
  		
			<% end %><!-- end if of not section of tag-line, etc. -->
		<% end %><!-- end case of sections--> 

		<% if (@page.name_tag == 'service') %>
			</div>
		<% end %><!-- /end of if page is service -->
		
<% if (@page.page_type_id != PageType.project.first.id) %> 
		</div><!-- /main-content-style -->	
	</section>
<% end %>