<% @page_title = "Page Type List" %>

<%= link_to("<< Back to Menu", {:controller => 'access', :action => 'index'}, :class => 'back-link') %>

<div class="page_types index">
  <h2>Page Types</h2>
  
  <%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+') + " Add New Page Type", new_page_type_path, :class => 'action new') %>

  <div class="num-found"><%= pluralize(@page_types.size, 'page type')%> found</div>

  <table class="listing" summary="Page Types list">
    <tr class="header">
      <th>Page Type</th>
       <th>Number of Pages</th>
      <th>Actions</th>
    </tr>
    <% @page_types.each do |page_type| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= page_type.name_tag %></td>
      <td><%= page_type.pages.size %></td>
      <td class="actions">
      	<%= link_to("View Pages", page_type_pages_path(:page_type_id => page_type.id), :class => 'action show') %>
      	<%= link_to('Show', page_type_path(:id => page_type.id), :class => 'action show') %>			
      	<%= link_to('Edit', edit_page_type_path(:id => page_type.id), :class => 'action edit') %>
        <%= link_to('Delete', delete_page_type_path(:id => page_type.id), :class => 'action delete') %>
      
      </td>
    </tr>
    <% end %>
  </table>
</div>
