<!DOCTYPE html>
<html>
  <head>
    <title>THUY CREATIVE<%= " | #{@page_title}" if @page_title %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
  </head>
  <body>
    <div id="header">
      <h1>
		<%= image_tag('thuy-creative-logo.png', :size => '113x126', :alt => 'Thuy Creative logo') %>
		THUY CREATIVE
	  </h1>
	  <h2><%= Section.tag_line_section.first.content %></h2>
    </div><!-- /header -->

    <div id="main">
      <div id="navigation">
        <%= render(:partial => 'layouts/navigation', :locals => {:pages => @pages}) %>
      </div><!-- /navigation -->

      <div id="content">
        <%= yield %>
      </div><!-- /content -->

      <div class="clear"></div>

    </div><!-- /main-->

    <div id="footer">
		<div class="copyright-b">
      <p id="copyright">Thuy Creative</p>
	  <p>&copy; <%= Section.copyright_section.first.content %> <%= Date.today.year %></p>
		</div>
		
		<div class="about-us-b">
			<%= raw(sanitize(Section.about_us_section.first.content, :tags => ['h2','h3','p','strong', 'em', 'a'])) %>
		</div>
    </div><!-- /footer -->

  </body>
</html>
