<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@page_title} | " if @page_title %>Thuy Creative</title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
  </head>
  <body>
    <header id="page-header" role="banner">
		<div class="header-style">
      		<h1><a href="#" title="Thuy Creative">Thuy Creative</a></h1>
	  		<h2 class="tag-line"><%= Section.tag_line_section.first.content %></h2>
		</div><!-- /header-style -->
    </header>

    <nav id="main-nav" role="navigation">
		<div class="main-nav-style">
			<h1 class="assistive-text">Site navigation</h1>
        	<%= render(:partial => 'layouts/navigation', :locals => {:pages => @pages}) %>
     	</div><!-- /main-nav-style -->
	</nav>

     
        	<%= yield %>
      	

    <footer id="page-footer">
		<div class="footer-style">
			
			<aside class="about-us">
				<%= raw(sanitize(Section.about_us_section.first.content, :tags => ['h1', 'h2', 'h3', 'p', 'strong', 'em', 'a'])) %>
			</aside><!-- /about-us -->
	
		<div class="copyright">
	  		<p>&copy; <%= Date.today.year %> Thuy Creative</p>
		</div><!-- /copyright -->
		
    	</div><!-- /footer-style -->
	</footer>

  </body>
</html>
